/* ================ layout ================ */

header {
    margin-bottom: 2rem;
}

.site, footer {
    width: 85%;
    max-width: 640px;
    margin-left: auto;
    margin-right: auto;
}

footer {
    margin-bottom: 2rem;
}

@media screen and (min-width: 800px) {

    .site {
        background: white;
        position: relative;
        margin-bottom: 6rem;
    }

    footer {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        margin: 0 auto 2rem;
        z-index: -1;
    }

}

/* ================ miscellaneous ================ */

body {
    font-family: "Crimson Text", serif;
    padding: 0;
}

h1 {
    font-weight: normal;
    text-align: center;
}

.nav {
    text-align: center;
    border-bottom: 1px solid #333;
}

.banner {
    position: relative;
    top: 0.55rem;
    font-style: italic;
    padding: 0 1.5em;
    background: #FFF;
}

