body {
  font-family: "Secular One", serif;
  font-size: 4vh;
  line-height: 1;
}

section {
  width: 80%;
  margin: 48vh auto auto;
  text-align: justify;
}

a {
  color: black;
  text-decoration: none;
  transition: .15s;
}

a:hover {
  color: teal;
  transition: .15s;
}
