h1 {
  position: absolute;
  top: 50vh;
  transform: translateY(-50%);
  width: 100vw;
  text-align: center;
  font-size: 20vmin;
  line-height: 1;
  font-weight: lighter;
  margin: 0;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: teal;
}

.fleuron {
  position: absolute;
  top: 15vh;
  left: 50vw;
  transform: translateX(-50%);
  font-size: 2rem;
}

.author,
.credits {
  position: absolute;
  bottom: 15vh;
  font-weight: bold;
}

.author {
  left: 5vw;
}

.credits {
  right: 5vw;
}

.credits ul {
  margin: 0;
}

.credits li {
  list-style: none;
  text-align: right;
}
