body {
    background-color: #503D1F;
}

.page {
    float: left;
    height: 100vh;
    width: 25vw;
    transition: .6s cubic-bezier(0.49,0,0.51,1);
}

#proprietor { background-color: #47464F; }
#printshop  { background-color: #B8A662; }
#portfolio  { background-color: #A8A094; }
#pressblog  { background-color: #503D1F; }
