<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{{ page.title }}</title>
<link rel="stylesheet" href="//ty.yukir.net/ty.css">
<link rel="stylesheet" href="/css/main.css">
<link rel="stylesheet" href='http://fonts.googleapis.com/css?family=Libre+Baskerville:400italic'>

</head>
<body>

<header></header>

<div class="site">
    {{ content }}
</div>

<footer>
    <nav class="nav"><a class="banner" href="/">nagare</a></nav>
</footer>

{% include justfont.html %}

</body>
</html>
